a{
    color: #ffffff!important;
}

.nav-link {
    font-weight: 500;
}
.main-cont{
margin:10px 20px;


}


.table-manage{

    margin-top:30px;
}

.jumboclass{
    font: size 20px;
    font-weight: 500;
    text-align:center;
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;


}
.jumboclass>.badge{
    font: size 30px!important;
    font-weight: 500;

}

.footer-admin{

    padding:10px;
    width:100%;
}